<div class="success-container">
  <img
    src="/images/succcess.png"
    alt="Order Success"
    class="success-image"
    style="width: 300px"
  />

  <p class="order-msg">hurray!!! your order is confirmed</p>
  <p class="order-msg">
    the order id is <strong>#123456</strong> save the order id for<br />
    further communication..
  </p>

  <div class="info-table">
    <div class="info-header">
      <div>Email us</div>
      <div>Contact us</div>
      <div>Address</div>
    </div>
    <div class="info-body">
      <div>adminbookstore.com</div>
      <div>+91 8163475881</div>
      <div>
        34, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex,<br />
        near Kumarakom restaurant, HSR Layout, Bangalore 560034
      </div>
    </div>
  </div>

  <button (click)="goToHome()">CONTINUE SHOPPING</button>
</div>
